{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "5.11.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
        org.clojure/data.csv {:mvn/version "1.0.1"}}}